LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_AGENT_NAME=rho-document-collection-demo
LIVEKIT_INFERENCE_STT_MODEL=deepgram/flux-general
LIVEKIT_INFERENCE_STT_LANGUAGE=en
LIVEKIT_INFERENCE_LLM_MODEL=google/gemma-4-31b-it
LIVEKIT_INFERENCE_TTS_MODEL=rime/coda
LIVEKIT_INFERENCE_TTS_LANGUAGE=en
RIME_CODA_SPEAKER=wawona
RHO_OUTBOUND_AGENT_NAME=rho-document-collection-demo
RHO_OUTBOUND_TRUNK_ID=
RHO_ENABLE_OUTBOUND_CALLS=false
RHO_ALLOW_IVR_SCREENING=false
